<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security secured-annotations="enabled" />

	<http auto-config="true" create-session="ifRequired"
		disable-url-rewriting="true">
		<intercept-url pattern="/*"  requires-channel="http"/>
		<headers disabled="true" />
		<csrf disabled="false" />
		<form-login login-page="/index" default-target-url='/index'
			always-use-default-target='true' />
		<logout invalidate-session="true" logout-url="/index" />
		<session-management session-fixation-protection="migrateSession">
			<concurrency-control expired-url="/index"
				max-sessions="1" />
		</session-management>
	</http>
	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="encoder" />
			<user-service>
				<user name="admin" password="root" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="11" />
	</beans:bean>
</beans:beans>